body {
  margin: 0;
  font-family: "Poppins";
}

ul {
  list-style: none;
}

h1 {
  font-size: 30px;
}

.cards {
  border: 20px;
  border-color: rgb(41, 41, 44);
  border-radius: 20px;
  width: 200px;
  height: 300px;
  background-color: rgb(227, 227, 227);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 8px solid rgb(244, 68, 118);
  border-radius: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
  grid-column-gap: 20px;
}

.table-game {
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/pattern-texture.jpg");
  background-size: cover;
}

.button-game {
  width: 150px;
  height: 50px;
  border-radius: 20px;
}

.buttons-secction {
  padding: 20px 30px;
}

.bigger-button {
  background-color: rgb(241, 25, 148);
  color: beige;
  font-size: 20px;
}

.smaller-button {
  background-color: rgb(244, 174, 35);
  color: beige;
  font-size: 20px;
}

.suit-cards,
.suit-cards-user {
  height: 15%;
  display: flex;
  padding: 20px;
}

.number-cards,
.number-cards-user,
.question-mark {
  color: black;
  font-size: 75px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suit-left {
  align-items: start;
  justify-content: start;
}

.suit-right {
  align-items: end;
  justify-content: end;
}

.hidden {
  display: none;
}
